//- work
include ../../mixins/mixins.jade
+extends('home._layouts.layout')
+section('content')
	#section-1__work.fullHeightCtn
		.first-parallax.parallax-image(data-anchor-target='#section-2__work', data-bottom-top='transform: translate3d(0px, -20%, 0px);', data-top-bottom='transform: translate3d(0px, 50%, 0px);')
		section
			h2 Hagamos algo increíble, juntos
			h3 Estamos cambiando la manera que las pequeñas empresas llegan a sus clientes. 
				br
				| Acompáñanos en esta experiencia y se parte de un equipo de emprendedores apasionados
	#section-2__work
		section
			form(data-parsley-validate)
				//fieldset Llenar los datos del siguiente formulario
				.form-control
					.form-input
						input(type="text", placeholder="(*) Nombres y apellidos", data-parsley-maxlength="30",required)
				.form-control
					.form-input		
						input(type="text", placeholder="(*) Email de contacto", data-parsley-type="email", required)
				.form-control
					.form-input		
						input(type="text", placeholder="(*) Teléfono de contacto", data-parsley-type="number",required)
				.form-control
					.form-select
						//- select(required)
						//- 	option(value="") Día
						//- 	option(value="01") 01
						//- 	option(value="02") 02
						//- 	option(value="03") 03
						//- 	option(value="04") 04
						//- select(required)
						//- 	option(value="") Mes
						//- 	option(value="01") 01
						//- 	option(value="02") 02
						//- 	option(value="03") 03
						//- 	option(value="04") 04
						//- select(required)
						//- 	option(value="") Año
						//- 	option(value="1970") 1970
						//- 	option(value="1971") 1971
						//- 	option(value="1972") 1972
						//- 	option(value="1973") 1973		
						.file
							a.btn.btn--medium(href="javascript:;") Adjuntar CV
							input(type="file")
							span
				//- .form-control
				//- 	.form-checkbox
				//- 		input(type="checkbox", name="terms", required)
				//- 		| He leído los términos y condiciones
				.form-control
					p (*) campo obligatorio				
				.form-control
					input.btn.btn--skyblue.btn--big(type="submit", value="Enviar")
+section('alpha')
	script.
		window.alpha = {
			module : 'cligo',
			controller : 'work',
			action: 'index'
		}