@font-face
	fontFace('DIN-MediumAlternate')
@font-face
	fontFace('DINPRO-BOLD')
@font-face
	fontFace('LinotypeUnivers-BasicRegular')
@font-face
	fontFace('ufonts.com_futura-book-bt')
@font-face
	fontFace('linotypeunivers-basicmedium-webfont')	
@font-face
	fontFace('ltunivers-basicthin-webfont')	
@font-face
	fontFace('opensans-regular')		
body
	background white
	font-family $linoRegular
	font-size $baseFont
	color $gray-99
	overflow-x hidden
	background-color white
section
	position relative
	width 100%
	max-width $usefulWidth
	margin 0 auto
	text-align center
.loader-lock
	width auto
	body
		overflow hidden !important
.loader
	background url("../img/opacity.png")
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	z-index 9999
	span
		background url("../img/loader.gif")
		height 32px
		left 50%
		margin -16px 0 0 -16px
		position absolute
		top 50%
		width 32px
.ublock
	background url("../img/opacity.png")
	height 100%
	left 0
	position absolute
	top 0
	width 100%	
.none
	display none 
.cf
	clear both
.pull-right
	float right
.pull-left
	float left
.text-center
	text-align center
.row
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
.tabs
	> ul
		> li
			display inline-block
	> div
		> div
			display none
			&:first-child
				display block
.btn
	display inline-block
	border-radius 5px
	border none
.btn--skyblue
	background $skyblue
	color white
.btn--medium
	padding 8px 10px 7px
	em(16px)
.btn--big
	padding 10px 55px
	em(24px)
.float-right
	float right
.float-left
	float left
::-webkit-input-placeholder
:-moz-placeholder
::-moz-placeholder
:-ms-input-placeholder
	color white

.section-blue
	position relative
	height 439px
	padding 80px 0 35px  0
	background-image url('../img/back_preguntas.jpg')
	background-repeat repeat
	background-position center center
	background-size cover
	color white
	border-bottom 3px solid $gray-99
	&.modHeight
		height 439px
		h2
			line-height 90px
	img
		padding-top 80px
		margin-bottom 30px
	h2
		em(40px)
		margin-bottom 25px
		font-family $linoMedium
	h3
		em(16px)
		line-height 25px
.section-blue-terminos
	background-image url('../img/back_terminos.jpg')		
form
	.form-control
		margin-bottom 15px
		
		.file
			display inline-block
			> a
				background $gray-99
				color white
			> input
				display none
		.form-radio
			text-align left
			> input
				margin 0 10px 0 0
			> span
				margin 0 18px 0 0
				em(14px)
		.form-checkbox
			position relative
			text-align left
			> input
				margin 0 10px 0 0
		.form-select
			position relative
			ul
				text-align center
			select
				em(18px)
				border 2px solid $gray-99
				background none
		.form-input
			position relative
			display inline-block
			width 100%
			margin-bottom 10px
			>div
				position relative
				input
					border-top 0 !important
					border-radius 0 !important
			textarea
				height 120px
			textarea
			input
				font-family $dinMedium
				em(16px)
				border 2px solid white
				border-radius 5px
				padding 10px
			&.form-input--group
				input
					display block
					border-top none
					border-bottom 2px solid white
					border-radius 0
					&:first-child
						border-top 2px solid white
						border-radius 5px 5px 0 0
					&:last-child
						border-radius 0 0 5px 5px
.join
	h2
		em(25px)
		color white
		margin-bottom 20px
	h4
		color $skyblue
		margin-bottom 8px
		em(14px)
		width 365px
		text-align left
		display inline-block
	form
		background white
		padding 30px 0
		border-radius 10px
		.form-control
			margin-bottom 25px
			.form-radio
			.form-checkbox
				display inline-block
				width 365px
				text-align left
			.form-select
				display inline-block
				width 365px
				text-align left
				select
					em(14px)
					width 365px
					height 50px
				& + .form-input
					margin-top 8px
			.form-input
				textarea
				input
					padding 16px 10px
					em(14px)
					width 365px
					color #545454
					border 2px solid $gray-99
				&.form-input--group
					display inline-block
					input
						display block
						border-top none
						border-bottom 2px solid $gray-99
						border-radius 0
						&:first-child
							border-top 2px solid $gray-99
							border-radius 5px 5px 0 0
						&:last-child
							border-radius 0 0 5px 5px
.campo
	color white
	position relative
	left -125px
.campo_obli
	font-size 14px
	text-align left
#foo {
    -skrollr-animation-name:animation1;
}

@-skrollr-keyframes animation1 {
    0 {
        left:100%;
    }

    2000 {
        left:0%;
    }

    /*Same as*/
    skrollr-2000 {
        left:0%;
    }

    top {
        color:rgb(0,0,0);
    }

    bottom {
        color:rgb(255,0,0);
    }
}					