extends ../../layout/layout.jade
//- index
block css
	link(href='#{page.app}/css/all.css', media='all', rel='stylesheet', type='text/css')
block content
	#wrapper
		.detalle_wrapper
			.detalle_texto
				ul
					@if(!empty($delivery->driver_id))
					li
						label Foto Conductor
						img(src!="{{asset('dinamic/driver/'.$driver['picture'])}}", alt="")
					li
						label Conductor
						span {{ $driver['name'].' '.$driver['lastname'] }}
					li
						label DNI
						span {{ $driver['dni'] }}
					li
						label Celular
						span {{ $driver['phone'] }}
					li
						label Placa del Vehiculo
						span {{ $driver['placa_vehicle'] }}
					li
						label Tipo de vehiculo
						span {{ $driver['name_vehicle'] }}
					li.line
						label ____
					@else
					li
						span Aun no a sido tomado el pedido por un conductor
					@endif
					@foreach($deliveryHistory as $val)
					li
						label {{ $val['event'] }}
						span {{ date('dd/mm/YY H:i:s', strtotime($val['datecreate'])) }}
					@endforeach	
			.detalle_mapa
				{!! Form::hidden('id', $delivery['id']) !!}
				@if(!empty($route) && count($route)==2)
				{!! Form::hidden('latitude_origin', $route[0]['latitude']) !!}
				{!! Form::hidden('longitude_origin', $route[0]['longitude']) !!}
				{!! Form::hidden('latitude_destination', $route[1]['latitude']) !!}
				{!! Form::hidden('longitude_destination', $route[1]['longitude']) !!}
				@endif
				#map_activo.google-map(data-lat="" data-lng="")
block javascript
	script.
		window.alpha = {
			module : 'index',
			controller : 'activo',
			action: 'detalle'
		};
	script(src="#{page.app}/js/libs/jquery/dist/jquery.min.js", type="text/javascript")
	script(data-main="#{page.app}/js/main" src="#{page.app}/js/libs/requirejs/require.js")						
