extends ../../layout/layout.jade
//- index
block css
	link(href='#{page.app}/css/all.css', media='all', rel='stylesheet', type='text/css')
block content
	#wrapper
		.filtros
			ul
				li
					label Filtrar por : 
				li
					select(name="anio").list_anio
						option(value="0000") Año
				li
					select(name="mes").list_mes
						option(value="00") Mes
				li
					select(name="dia").list_dia
						option(value="00") Día
				li
					a(href="/admclient/solicitar/excel?year=0000&month=00&day=00")#url_report
						button EXP A EXCEL
		.table-responsive-vertical.tablas
			table.table.table-hover
				thead
					tr
						th Cód
						th Tipo
						th Destino
						th Contacto
						th Estado
						th TimeStamp
						th Fecha
						th Reporte
						th Tarifa
				tbody
	script(type="text/template").row4Table
		tr(class!="<%= css_class %>" data-id!="<%= id %>")
			td(data-title="Cód")
				div
					a(href!="detalle-activos/<%= id %>") <%= id %>
						
			td(data-title="Tipo")
				div 
					a(href!="detalle-activos/<%= id %>") <%= delivery_type_name %>
			td(data-title="Destino")
				div
					a(href!="detalle-activos/<%= id %>") <%= destination_address %>
			td(data-title="Contacto")
				div
					a(href!="detalle-activos/<%= id %>") <%= contact_name %> 
			td(data-title="Estado")
				div
					a(href!="detalle-activos/<%= id %>") <%= delivery_state_name %>
			td(data-title="TimeStamp")
				div
					a(href!="detalle-activos/<%= id %>") <%= publish_time %>
			td(data-title="Fecha")
				div
					a(href!="detalle-activos/<%= id %>") <%= publish_date %>
			td(data-title="Recibo")
				div
					a(href!="#")
						img(src!="{{asset('client/img/recibo.png')}}", alt="")
			td(data-title="Tarifa") 
				div 
					a(href!="detalle-activos/<%= id %>") <%= price %>
block javascript
	script.
		window.alpha = {
			module : 'index',
			controller : 'activo',
			action: 'index'
		};
	script(src="#{page.app}/js/libs/jquery/dist/jquery.min.js", type="text/javascript")
	script(data-main="#{page.app}/js/main" src="#{page.app}/js/libs/requirejs/require.js")







	