/**
* Plugin Tipsy - Framework.js
* @class Plugin Tipsy
* @module helpers.css
*/
.tipsy
	background url("../img/tipsy.gif") no-repeat
	font-size 10px
	padding 5px
.tipsy-inner
	background-color #000
	color #FFF
	max-width 334px
	padding 5px 8px 4px
	text-align center
.tipsy-north
	background-position center top
.tipsy-south
	background-position center bottom
.tipsy-east
	background-position right center
.tipsy-west
	background-position left center
/**
* Plugin Loader - Utils.js
* @class Plugin Loader
* @module helpers.css
*/
.loader
	background url("../img/opacity.png")
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	z-index 999
	span
		background url("../img/loader.gif")
		height 32px
		left 50%
		margin -15px 0 0 -15px
		position absolute
		top 50%
		width 32px
.ublock
	background url("../img/opacity.png")
	height 100%
	left 0
	position absolute
	top 0
	width 100%