include ../config/page.jade
include ../mixins/mixins.jade

header
	section
		h1
			a(href!="{{ URL::asset('/') }}", title="Cligo")
				img(src="#{page.static}img/cligo.png", atl="Cligo")
		.menu-responsive
		nav.menu
			ul
				li(class!="{{ Request::is('nosotros') ? 'active' : '' }}")
					a(href!="{{ URL::asset('nosotros') }}") Nosotros
					.flecha-up
				li.hide-responsive
					span  	
				//- li
				//- 	a(href="trabaja-con-nosotros.html") Trabaja con
				//- 		br
				//- 		| nosotros
				//- li
				//- 	a(href="terminos-y-condiciones.html") Términos y
				//- 		br
				//- 		| Condiciones
				//- li
				//- 	a(href="comunidad.html") Únete a la comunidad
				//- 		br
				//- 		| de repartidores
				//- li
				//- 	a(href="faq.html") FAQ
				li(class!="{{ Request::is('contactanos') ? 'active' : '' }}")
					a(href!="{{ URL::asset('contactanos') }}") Contáctanos
					.flecha-up
		.buttons
			a.btn--big.login_popup(href="#content_form_login",data-menu="1") Login
			a.btn--big.popup(data-fancybox-type="iframe", href!="{{ URL::asset('registrate') }}") Regístrate