#section-1__comunity
	position relative
	height 390px
	padding 150px 0 100px
	color white
	overflow hidden
	display table
	width 100%
	section
		display table-cell
		vertical-align middle
	.parallax-image
		background-image url('../img/comunidad-section-1.jpg')
		background-repeat no-repeat
		background-position center center
		position absolute
		width 100%
		height 100%
		top 0
		left 0
	h2
		em(40px)
		margin-bottom 5px
		font-family $linoMedium
		letter-spacing 2px
	h3
		em(30px)
		font-family $linoThin
		margin-bottom 30px
		letter-spacing 0px
#section-2__comunity
	padding 70px 0
	.items-comunity
		> ul
			display inline-block
			width 620px
			> li
				display block
				overflow hidden
				margin-bottom 80px
				figure
					img
						width 150px
						height 150px
					
				blockquote
					width 385px
					text-align left
					h3
						em(26px)
						font-family $dinBold
						color $skyblue
						margin-bottom 10px
					p
						em(18px)
						color #b3b3b3
						font-family $linoThin
						line-height 1.36em
						text-align left
.form-ctn-joinus
	height 78%
	.parsley-errors-list.filled
		position absolute
		right: 0px;
		color :red;
		top: 9px;
		left: auto;
		background-color: transparent;
		width: 40px;
		em(20px)
		li
			display none
		// padding 0
		// width auto
		// left auto
		// top auto
		// animation-name hide-alert
		// animation-duration 4s
		// &.filled
		// 	height 0
		// 	opacity 0
		// 	animation-name hide-alert
		// 	animation-duration 4s
		&:before
			content "x"
			width 10px
			height 10px	
	.form-input:hover
		.parsley-errors-list.filled
			height auto
			opacity 1
.join
	.form-control, .form-checkbox
		position relative
		div
			position relative
.join_unete
	.cancel-login
		display inline-block
		vertical-align top
		font-size 16px
		margin-left 10px
		a
			color #23cefd
	h2
		em(26px)
		color white
		margin-bottom 20px
	h4
		color $skyblue
		margin-bottom 8px
		em(14px)
		width 365px
		text-align left
		display inline-block			
	form
		background white
		padding 30px 0
		border-radius 10px
		.check
			position relative
			margin-bottom 20px
			.parsley-errors-list.filled
				right 35px
				top -9px	
		.form-control
			margin-bottom 15px
			.form-radio
			.form-checkbox
				display inline-block
				width 365px
				text-align left
				label
					font-size 14px
			.form-select
				display inline-block
				width 90%
				text-align left
				select
					em(14px)
					width 100%
					height 50px
					color #AAAAAA
				& + .form-input
					margin-top 8px
			.form-input
				textarea
				input
					padding 16px 10px
					em(14px)
					width 365px
					color #545454
					border 2px solid $gray-99
				&.form-input--group
					display inline-block
					.border-top
						input
							border-radius 5px 5px 0 0 !important
							border-top 2px solid $gray-99 !important								
					div
						position relative
						input
							display block
							border-radius 0
							border-top 0
					.border-bottom
						input
							border-radius 0 0 5px 5px
.centrado
	margin 0 auto !important
	width 304px !important
// @keyframes hide-alert
// 	0%
// 		display block
// 		opacity 0
// 		height 0px
// 	33%
// 		display block
// 		opacity 1
// 		height 20px
// 	66%
// 		display block
// 		opacity 1
// 		height 20px
// 	100%
// 		display none
// 		opacity 0
// 		height 0
