#section-2__faq
	padding 70px 0
	.tabs
		> *
			text-align left
		> div
			width 570px
			display inline-block
			vertical-align top
			> div
				font-family $linoThin
				line-height 22px
				h3
					em(20px)
					font-family 'LinotypeUnivers-BasicRegular','Arial'
					color $skyblue
					margin-bottom 14px
					margin-top 9px
				h4
					em(18px)
					color $skyblue
					text-align center
				p
					font-size 16px
					color #A9A7A7
					& + p
						margin-top 15px
				ul
					margin 25px 0
					font-size 15px
					color #A9A7A7
					> li
						margin-bottom 20px
				.columna1 , .columna2
					display inline-block
					vertical-align top
					width 47%
					padding-right 18px
					margin-right 15px
				.columna1
					border-right 1px solid
				strong
					color #A2A2A0
					font-family 'LinotypeUnivers-BasicRegular','Arial'
				a
					color $skyblue
					text-decoration underline
		> ul
			display inline-block
			width 240px
			margin 0 50px 0 0
			font-size 17px
			> li
				display block
				padding 10px 0
				> a
					color #a2a2a0
				&.active
					> a
						color $skyblue
						border-bottom 1px solid $skyblue
				