#section-1__contact
	position relative
	padding 25px 0
	section
		text-align left
		form
			margin 0 0 0 90px
	.contact-details
		width 370px
		> p
			line-height 13px
			em(10px)
			margin-bottom 10px
		> ul
			margin-bottom 25px
			> li
				margin-bottom 15px
				em(14px)
				text-align left
				padding-left 50px
				position relative
				height 40px
				padding-top 13px
				> span
					display block
					position absolute
					top 0
					left 0
					background-color $skyblue
					width 40px
					height 40px
					padding-top 6px
					border-radius 50%
					vertical-align middle
					margin 0 10px 0 0
					text-align center
					> i
						em(19px)
						color white
	form
		fieldset
			em(24px)
			margin-bottom 30px
			font-family $dinMedium
		.form-control
			max-width 370px
			margin-bottom 17px
			.form-checkbox
				display inline-block
				width 365px
				text-align left
				em(18px)
				font-family $dinMedium
			.form-select
				display inline-block
				width 365px
				text-align left
				select
					height 36px
			.form-input
				textarea
				input
					width 365px
					border 2px solid $gray-99
					color #777
				&.form-input--group
					display inline-block
					input
						display block
						border-top none
						border-bottom 2px solid $gray-99
						border-radius 0
						&:first-child
							border-top 2px solid $gray-99
							border-radius 5px 5px 0 0
						&:last-child
							border-radius 0 0 5px 5px
	#map
		position absolute
		top 0
		left 60%
		width 60%
		height 100%
		z-index 99