@require '../../utilities/config.styl'
@require '../../utilities/_mixins/*'

@media screen and (max-width: $windowMinWidth)
	a
		display inline

/*	
@media screen and (max-width: $wrapperMaxWidth)

@media (min-width: $iPad) and (max-width: $wrapperMaxWidth)

@media (min-width: $iPhone) and (max-width: $iPad)
							
@media screen and (max-width: $iPhone)	
	
@media (min-width: $ipad) and (max-width: $desktop)
*/