@extends('admin._layouts.layout')

@section('content')

#wrapper.container-page
    @if(isset($data->id))
    h2 Edit of User
    @else
    h2 Register of User
    @endif

    | {!! Form::model($data, ['files'=>'true','method'=>'post', 'data-parsley-validate'=>'data-parsley-validate', 'url'=>'/admpanel/user']) !!}
    .form-upload
        | {!! Form::hidden('id',  $data->id ) !!}
        | {!! Form::hidden('photo',  $data->photo, ['id'=>'image-rountine'] ) !!}
        .form-group
            | {!! Form::text('name', null , ['placeholder'=>'Name', 'class' => 'form-control floating-label'])!!}
        .form-group
            | {!! Form::text('lastname', null , ['placeholder'=>'Lastname', 'class' => 'form-control floating-label'])!!}
        .form-group
            | @if($disabled = ['placeholder'=>'Email', 'class' => 'form-control floating-label'])
            | @endif
            | @if(!empty($data->id))
            |@if($disabled['disabled'] = 'disabled')
            |@endif
            | @endif
            | {!! Form::text('email', null , $disabled)!!}
        | @if($data->typeregister==2 || empty($data->id))
        .form-group
            | {!!Form::password('password',array('class'=>'form-control floating-label','placeholder'=>$msgform))!!}
        | @endif
        .form-group
            | {!! Form::text('age', null , ['placeholder'=>'Age', 'class' => 'form-control floating-label'])!!}
        .form-group
            | {!! Form::text('location', null , ['placeholder'=>'Location', 'class' => 'form-control floating-label'])!!}
        .form-group
            | {!! Form::select('gender', $gender, $data->gender, ['class'=>'form-control', 'data-parsley-required'=>'data-parsley-required']) !!}
        .form-group
            | {!! Form::text('weight', null , ['placeholder'=>'Weight', 'class' => 'form-control floating-label'])!!}
        .form-group
            | {!! Form::text('height', null , ['placeholder'=>'Height', 'class' => 'form-control floating-label'])!!}
        .form-group
            .checkbox
                | {!! sprintf(Form::label('flag_first_time','%s'),Form::checkbox('flag_first_time',1,false)." Complete Registration?") !!}
        .form-group
            input(type="file" requiredfile data-show-upload="false" name="photo").js-uploadInput
            button.btn.btn-primary(type="submit") SEND
        | {!! Form::close() !!}
        | @if($errors->any())
        ul.alert.alert-danger
            | @foreach($errors->all() as $error)
            li {{$error}}
            | @endforeach
        | @endif
@stop


