@extends('admin._layouts.layout')
@section('content')
#wrapper.container-page
    | @if(session()->has('messageSuccess'))
    ul.alert.alert-success
        li
            | {{session('messageSuccess')}}
    | @endif
    h2 Users
    a(href="/admpanel/user", class="btn btn-success") New
    section
        table(id="categoryTable", class="tables table-striped", data-url="/admpanel/user-data",data-nofilter="0,1,2,8,12" ,data-col="photo,flag_first_time,typeregister,points,routines,name,email,age,location,gender,weight,height,action")
            thead
                tr(class="info")
                    td Image
                    td Complete Registration?
                    td Register Type
                    td Points
                    td Routines
                    td Name
                    td Email
                    td Age
                    td Location
                    td Gender
                    td Weight
                    td Height
                    td(class="action")
script(type="text/template", id="tplEdit", data-initial='/dummies/edituser.json')
    .modal-ctn
        form(action="#", data-parsley-validate, data-url='/dummies/edit.json', data-method="POST")#editForm
            input(type="hidden" value!="<%= id %>" name="id")
            header
                h1 Edit Record
            .modal-ctn--form
                .form-group
                    //- label(for="name") Nombre
                    input(placeholder="Nombre", name="name", value!="<%= name %>", data-parsley-required="true").form-control.floating-label
                .modal-ctn--actions
                    button.btn.btn-primary(type="submit") Send
script(type="text/template", id="tplDelete")
    .modal-ctn
        form(action="#", data-parsley-validate, data-url='delete-user', data-method="POST")#deleteForm
            input(type="hidden" value!="<%= id %>" name="id")
            header
                h1 Confirmate
            .modal-ctn--form
                .form-group
                    h4 Delete record?
                .modal-ctn--actions
                    button.btn.btn-primary(type="submit") Delete
                    a(href="javascript:;").btn.btn-danger.btn-danger--modal Cancel
@stop
