/**
* Config
* @class Config 
*/

/* Paths */
$img = '../../../img/'
$imgPath       = '../img/'
$pluginsPath = '../' + $imgPath + 'plugins/'
$fontsPath      	= '../../fonts/'
$fancyboxPath = '../../static/js/libs/fancybox/source/'
$datatablePath = '../../img/libs/datatable/'
/* font family variables */
$helveticaNeue = 'helveticaNeue', 'arial', 'sans-serif'
$roboto = 'Roboto', arial, sans-serif

$baseFont = 11px

/* Color variables */
$skyblue_01 = #00b6ff
$skyblue_02 = #80dbff

/* Layout variables */
$windowMinWidth = 1200px
$wrapperMaxWidth = 1100px
$wrapperWidth = 1000px
$iPad = 800px
$iPhone = 450px