extends ../../layout/layout.jade
//- index
block css
	link(href='#{page.app}/css/all.css', media='all', rel='stylesheet', type='text/css')
block content
	#wrapper
		br
		br
		br
		br
		.content_soporte
			form.formSoporte.row(data-parsley-validate)
				.columna1
					.form_control
						label (*) Nombres y apellidos
						input(type="text" , name="name",required)
					.form_control
						label (*) Email de contacto
						input(type="text",name="email",required,data-parsley-type="email")
					.form_control
						label (*) Teléfono de contacto
						input(type="text",name="telefono",required,data-parsley-type="number")
					p (*) campos obligatorios
				.columna2
					.form_control
						label (*) Mensaje
						textarea(name="mensaje", cols="30", rows="10",required)
				button(type="submit") ENVIAR
			br
			br
			br
			ul
				li
					a(href="#")
						i.icon.icon-email
					span hola@cligo.pe
				li
					a(href="#")
						i.icon.icon-phone
					span Ca. Monte Carmelo 310 of. 101, Surco, Lima – Perú
				li
					a(href="#")
						i.icon.icon-pin
					span 981 695 515 / 945 838 725

block javascript
	script.
		window.alpha = {
			module : 'index',
			controller : 'index',
			action: 'index'
		};
	script(src="#{page.app}/js/libs/jquery/dist/jquery.min.js", type="text/javascript")
	script(data-main="#{page.app}/js/main" src="#{page.app}/js/libs/requirejs/require.js")