extends ../../layout/layout.jade
//- index
block css
	link(href='#{page.app}/css/all.css', media='all', rel='stylesheet', type='text/css')
block content
	#wrapper
		|@if(session()->has('messageSuccess'))
		ul(role="alert").alert.alert-success.alert-dismissible
			button(type="button",class="close",data-dismiss="alert",aria-label="Close")
				span(aria-hidden="true") &times;
			li {{session('messageSuccess')}}
		|@endif
		|@if (count($errors) > 0)
		.alert.alert-danger
			|Errores:
			br
			ul
				|@foreach ($errors->all() as $error)
				li{{ $error }}
				|@endforeach
			br			
		|@endif
		.container_perfl
			.texto_perfil

				|{!! Form::model($table,array('id'=>'form_perfil','data-parsley-validate')) !!}
				ul
					li
						{!! Form::label(null,'Perfil de la empresa') !!}
						{!! Form::hidden('latitude') !!}
						{!! Form::hidden('longitude') !!}
						br
						br
					li.input_form
						span Nombre de la empresa
						br
						{!! Form::text('name_customer',old('name_customer'),array('required')) !!}
					li.input_form
						span Email
						br													
						{!! Form::text('email',old('email'),array('required','data-parsley-type'=>'email')) !!}
					li.input_form.mt13
						span RUC
						br
						{!! Form::text('ruc',old('ruc'),array('required','data-parsley-maxlength'=>'11')) !!}
					li.input_form
						span Contraseña (Dejar en blanco, para mantener la misma contraseña)
						br
						{!! Form::password('password') !!}
					li
						div
					li
						span Dirección (Ej. Calle Mozart 456, San Borja)
						br
						{!! Form::text('address',old('address'),array('required','id'=>'dir_perfil')) !!}
					li
						span Referencia
						br
						{!! Form::text('referencia',old('referencia'),array('required')) !!}
					li.input_form
						span Tarjeta de crédito
						br
						{!! Form::text('creditcard',old('creditcard'),array('disabled'=>'disabled','class'=>'disabled')) !!}
					li.input_form
						{!! Form::button('Actualizar',array('type'=>'submit')) !!}
				|{!! Form::close() !!}	
			.map_perfil
				span Marcar la dirección exacta en el mapa
				br
				br
				#map_perfil.google-map(data-lat!="{{$table->latitude}}" data-lng!="{{$table->longitude}}")
			.personas_perfil
				.table-responsive-vertical
					table.table.table-hover(data-url!="{{ action('Client\\ProfileController@getList') }}")
						thead
							tr
								th Nombre
								th Celular
								th Teléfono
								th Correo
								th 
						tbody
				.agregar_persona
					form(data-parsley-validate, method="post",action!="{{ url('/admclient/perfil/contact') }}",id="formContact")
						input(type="hidden",name="_token",value!="{{ csrf_token() }}")
						input(type="hidden",name="id",value="")
						label
							input(type="text",name="name",placeholder="Nombre y apellido",required)
						label
							input(type="text",name="cellphone",placeholder="Celular",required,data-parsley-type="digits")
						label
							input(type="text",name="phone",placeholder="Teléfono",required,data-parsley-type="digits")
						label.label_correo
							input(type="text",name="email",placeholder="Email",data-parsley-type="email",required)
						button(type="submit") + Agregar
	script(type="text/template").row4Table
		tr(data-id!="<%= id %>")
			td(data-title="Nombre")
				div <%= name %>
			td(data-title="Celular")
				div <%= phone %>
			td(data-title="Teléfono")
				div <%= cellphone %>
			td(data-title="Correo")
				div <%= email %>
			td(data-title="")
				div
					a(href="#").edit_contact
						i.icon.icon-lapiz
					a(href!="#",data-nom!="<%= name %>",data-url!="{{ action('Client\\ProfileController@getDelete') }}/<%= id %>").del_contact
						i.icon.icon-basura
block javascript
	script.
		window.alpha = {
			module : 'index',
			controller : 'perfil',
			action: 'index'
		};
	script(src="#{page.app}/js/libs/jquery/dist/jquery.min.js", type="text/javascript")
	script(data-main="#{page.app}/js/main" src="#{page.app}/js/libs/requirejs/require.js")