@extends('admin._layouts.layout')
@section('content')
#wrapper.container-page
	.container
		.row
			.col-md-10.col-md-offset-1
				.panel.panel-primary
					.panel-heading 
						h3.panel-title Profile
					.panel-body
						| {!!Form::model($admin,array('class'=>'form-horizontal','role'=>'form','files'=>'true','data-parsley-validate'))!!}
						| {!!Form::input('hidden','id',null,array('class'=>'form-control'))!!}
						.form-group
							| {!!Form::label('name','Name: ',array('class'=>'col-md-4 control-label'))!!}
							.col-md-6
								| {!!Form::input('text','name',null,array('class'=>'form-control','required'))!!}
						.form-group
							| {!!Form::label('lastname','Last Name: ',array('class'=>'col-md-4 control-label'))!!}
							.col-md-6
								| {!!Form::input('text','lastname',null,array('class'=>'form-control','required'))!!}
						.form-group
							| {!!Form::label('email','E-Mail: ',array('class'=>'col-md-4 control-label'))!!}
							.col-md-6
								| {!!Form::input('email','email',null,array('class'=>'form-control','required'))!!}
						.form-group
							| {!!Form::label('password','Password (leave if you do not change): ',array('class'=>'col-md-4 control-label'))!!}
							.col-md-6
								| {!!Form::password('password',array('class'=>'form-control'))!!}
						.form-group
							.col-md-6.col-md-offset-4
								| {!! Form::button('Save', array('class'=>'btn btn-primary', 'type'=>'submit')) !!}
						| {!!Form::close()!!}
					| @if($errors->any())
					ul.alert.alert-danger
						| @foreach($errors->all() as $error)
						li {{$error}}
						| @endforeach
					| @endif
					| @if(session()->has('messageSuccess'))
					ul.alert.alert-success
						li
							| {{session('messageSuccess')}}
					| @endif
@stop