@extends('admin._layouts.layout')

@section('content')

#wrapper.container-page
	@if(isset($data->id))
	h2 Edit of Rountine
	@else
	h2 Register of Rountine
	@endif

	| {!! Form::model($data, ['files'=>'true','method'=>'post', 'data-parsley-validate'=>'data-parsley-validate', 'url'=>'/admpanel/exercise']) !!}
	.form-upload
		| {!! Form::hidden('id',  $data->id ) !!}
		| {!! Form::hidden('image',  $data->image, ['id'=>'image-rountine'] ) !!}
		| {!! Form::hidden('video',  $data->video, ['id'=>'video-rountine'] ) !!}
		| {!! Form::hidden('videofemale',  $data->videofemale, ['id'=>'video-rountine-female'] ) !!}
		.form-group
			| {!! Form::text('name', null , ['placeholder'=>'Name', 'name'=>'name', 'class' => 'form-control floating-label'])!!}
		.form-group
			| {!! Form::textarea('description', null , ['placeholder'=>'Description', 'name'=>'description', 'class' => 'form-control floating-label'])!!}
		.form-group
			| {!! Form::text('tbasic', null , ['placeholder'=>'Easy', 'name'=>'tbasic', 'class' => 'form-control floating-label'])!!}
		.form-group
			| {!! Form::text('tintermediate', null , ['placeholder'=>'Intermediate', 'name'=>'tintermediate', 'class' => 'form-control floating-label'])!!}
		.form-group
			| {!! Form::text('tadvanced', null , ['placeholder'=>'Hard', 'name'=>'tadvanced', 'class' => 'form-control floating-label'])!!}
		.form-group
			label(for="uploadImg") Upload Image
			input(type="file" id="uploadImg" data-hidden-id="#image-rountine" data-show-upload="false" data-allowed="jpg,png,gif" name="image" data-format="image" requiredfile).js-uploadInput
		.form-group
			label(for="uploadVideo") Upload Video Male
			input(type="file" id="uploadVideo" data-hidden-id="#video-rountine" data-show-upload="false" data-allowed="mp4" name="video" data-format="video" requiredfile).js-uploadInputVideo
		.form-group
			label(for="uploadVideoFemale") Upload Video Female
			input(type="file" id="uploadVideoFemale" data-hidden-id="#video-rountine-female" data-show-upload="false" data-allowed="mp4" name="videofemale" data-format="video" requiredfile).js-uploadInputVideoFemale
			button.btn.btn-primary(type="submit") Enviar
		| {!! Form::close() !!}
script(type="template/text" id="terms")
	p Lorem ipsum dolorem mortem
@stop


