- var page = {}
- page.charset         = "utf-8"
- page.lang            = "es"
- page.app 			   = "{{Request::root()}}"
- page.static          = page.app+"/static/"
- page.url             = page.app
- page.title           = "Project Ibody "
- page.description     = "Admin"
- page.keywords        = "Keywords"
//- page.author          = "@paulrrdiaz, @jeanpaul1304, @jonico22"
//- page.name            = "empty"
- page.viewport        = "width=device-width, initial-scale=1.0"
- page.robots          = "index, follow"
- page.favicon         = page.app + "img/favicon.ico"

- page.og              = {}
- page.og.type         = "website"
- page.og.image        = page.app + "img/logo.png"