.mt13
	margin-top 13px
.container_perfl
	position relative
	padding-top 79px
	padding-left 26px
	.texto_perfil
		display inline-block
		vertical-align top
		width 49%
		margin-right 1%
		ul
			/*position relative*/
			li
				margin-bottom 19px
				label
					color #48c0f7
					em(14px)
				span
					color #999999
				input
					padding 10px 10px
					width 100%
					border none
					background #f2f2f2
					margin-top 5px
				div
					height 5px
					border-bottom 1px dashed #999999
					margin-bottom 15px
			.input_form
				display inline-block
				vertical-align top
				width 49%
				position relative
				button
					background #48c0f7
					border none
					padding 10px 50px
					color #fff
					margin-top 18px
					margin-left 10px
					cursor pointer
	.map_perfil
		display inline-block
		vertical-align top
		width 49%
		height 308px
		span
			color #999999
		#map_perfil
			height 100%
			width 100%
	.personas_perfil
		position relative
		border-top 1px solid #e6e6e6
		color #828b8e
		a
			color #828b8e
			margin-right 5px
			i
				em(19px)				
		.table > thead > tr > th
			padding 15px 15px
			position relative
			border-bottom 1px solid #e6e6e6
			text-align left
		.table > tbody > tr > td
			padding 10px 15px
			position relative
		.table-responsive-vertical > .table-hover > tbody > tr:nth-child(odd)
			background #fcfcfc
			border-top 1px solid #f4f4f4
			border-bottom 1px solid #f4f4f4
		.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th
			background-color #71e1ff
			color white		
			a
				color white
		.agregar_persona
			position fixed
			bottom 0px
			width 80%
			padding 15px 15px
			text-align center
			label:first-child
				width 25%
			label
				display inline-block
				vertical-align top
				margin-right 17px
				input
					background #f2f2f2
					color #a4b4ba
					width 100%
					padding 10px 10px
					border none
			.label_correo
				width 15%					
			button
				background #48c0f7
				border none
				padding 10px 10px
				color white
				cursor pointer