include ../../config/page.jade
include ../../mixins/mixins.jade

doctype html
+htmlIe()
html(lang="#{page.lang}")
	include ../../layout/_head.jade
		+yield('css')
	body
		//- include _loader.jade
		include ../../layout/_header.jade
		//- -- -- -- -- -- -- -- -- -- -- fin del header -- -- -- -- --  -- -- -- -- --
		#wrapper
			+yield('content')
		//- -- -- -- -- -- -- -- -- -- -- inicio del footer -- -- -- -- -- -- -- -- -- --		
		include ../../layout/_footer.jade
		+yield('alpha')
		include ../../layout/_footer_scripts.jade