#%RAML 0.8
title: Doc Ws Cligo
version: v1
mediaType: application/json
baseUri: http://devcligo.osp.pe/wservice/
protocols: [HTTP]
documentation:
  - title: Sobre los servicios
    content: En este documento se encuentra todo los servicios web relacionados al proyecto "Cligo"
/driver:
  /login:
    description: |
      Login de los motorizados
    displayName: Login Driver
    post: 
      description: Loguearse
      body: 
        schema: |
          {
            "$schema": "http://json-schema.org/draft-03/schema",
            "type": "object",
            "properties": {
                "email": {
                    "type": "string",
                    "required": true
                },
                "password": {
                    "type": "string",
                    "required": true
                },
                "uuid": {
                    "type": "string",
                    "required": true
                }
            }
          }
        example: |
          {
            "email":"rolly@osp.pe", 
            "password":"123456", 
            "uuid":"as3dad23asd21321sdfsd3f"
          }
      responses:
        200: 
          headers:
            _token: 
              description: token para los posteriores request
              example : dsg5645sfd6gas5dk65hsad6kjh6sak2dhs2akj2dhaks
          body:
            example: |
              {
                "status": 1,
                "msg": "ok",
                "data": {
                    "id": "2",
                    "vehicletype_id": "0",
                    "uuid": "as3dad23asd21321sdfsd3f",
                    "namedriver": "Alfred",
                    "lastname": "B",
                    "phone": "123456",
                    "email": "a@b.com",
                    "flagbussy": null,
                    "flagactive": "1",
                    "datecreate": null,
                    "datedelete": null,
                    "lastupdate": null
                },
                "data_error": []
              }
/delivery:
  /{status_id}/{year}/{month}/{day}:
    description: |
      Lista de Servicios/Deliveries
    uriParameters:
      status_id:
        description: |
                Status :  1
                          2
        type: integer
        example: 1
      year:
        description: |
                A_o  :  2015
                       0000 : Todos
        type: string
        example: 2015
      month:
        description: |
                Mes  :  07
                        00 : Todos
        type: string
        example: 07
      day:
        description: |
                Dia  :  05
                        00 : Todos
        type: string
        example: 05
    get:
      description: Lista en formato JSon
      responses:
        200:
          description: Lista
          body:
            application/json:
              example: |
                {
                  "status": 1,
                  "msg": "ok",
                  "data": [
                    {
                      "id": 9,
                      "delivery_type_id": 2,
                      "delivery_type_name": "Por hora",
                      "delivery_state_id": 1,
                      "delivery_state_name": "waiting",
                      "datestart": "2015-03-03 00:00:00",
                      "destination_description": "arequipa",
                      "destination_address": "Arequipa, Miraflores, Lima, Peru",
                      "publish_date": "2015-03-03",
                      "publish_time": "00:00:00",
                      "price": 205.25,
                      "contact_name": "motor 1",
                      "contact_phone": "999"
                    },
                    {
                      "id": 10,
                      "delivery_type_id": 2,
                      "delivery_type_name": "Por hora",
                      "delivery_state_id": 1,
                      "delivery_state_name": "waiting",
                      "datestart": "2015-09-22 23:29:21",
                      "destination_description": "breña",
                      "destination_address": "Breña, Lima, Peru",
                      "publish_date": "2015-09-22",
                      "publish_time": "23:29:21",
                      "price": 205.25,
                      "contact_name": "motor 1",
                      "contact_phone": "999"
                    },
                    {
                      "id": 11,
                      "delivery_type_id": 1,
                      "delivery_type_name": "Envio inmediato",
                      "delivery_state_id": 1,
                      "delivery_state_name": "waiting",
                      "datestart": "2015-09-23 16:08:56",
                      "destination_description": "sadasd",
                      "destination_address": "Av. Arequipa, Miraflores, Perú",
                      "publish_date": "2015-09-23",
                      "publish_time": "16:08:56",
                      "price": 205.25,
                      "contact_name": "motor 1",
                      "contact_phone": "999"
                    }
                  ],
                  "data_error": []
                }
  /price/{lat_1}/{lon_1}/{lat_2}/{lon_2}/{zone}/{calculate}:
    description: |
      Tarifa segun coordenadas
    uriParameters:
      lat_1:
        description: |
          Latitud 1
        example: -12.088530
      lon_1:
        description: |
          Longitud 1
        example: -77.042479
      lat_2:
        description: |
          Latitud 2
        example: -12.120684
      lon_2:
        description: |
          Longitud 2
        example: -77.029502
      zone:
        description: |
          Codigo Unico de Zona
        example: Lima
      calculate:
        description: |
          1 = Calcular la tarifa exactamente por el numero de kilometros
          0 = Retornar la tarifa predeterminada para el rango de distancia
        example: 0
    get:
      description: Informacion en formato JSon
      responses:
        200:
          description: Lista
          body:
            application/json:
              example: |
                {
                  "status": 1,
                  "msg": "ok",
                  "data": [
                    {
                      "price": 307.07998657227
                    }
                  ],
                  "data_error": []
                }
    
  /detail/{detail_id}:
    description: Detalles de un delivery
    displayName: Detalles
    uriParameters:
      detail_id:
        description: id del delivery
        type: integer
        example: 22
    get:
      description: Lista en formato JSon
      responses:
        200:
          description: Lista
          body:
            application/json:
              example: |
                {
                  "status": 1,
                  "msg": "ok",
                  "data": {
                    "id": "22",
                    "code": "0D318",
                    "customer_id": "1",
                    "delivery_state_id": "7",
                    "paymenttype_id": "2",
                    "category_id": "2",
                    "vehicletype_id": "2",
                    "driver_id": null,
                    "number_points": "2",
                    "description": "f",
                    "delivery_type_id": "1",
                    "datestart": "2015-09-25 21:38:10",
                    "datepublish": null,
                    "dateseparate": null,
                    "price": "389.184",
                    "flagservice": "1",
                    "flagreturn": "1",
                    "flagactive": "1",
                    "lastupdate": "2015-09-30 22:27:55",
                    "datecreate": "2015-09-25 21:38:10",
                    "dataRoute": [
                      {
                        "id": "32",
                        "x(coordenate)": "-12.0968055",
                        "y(coordenate)": "-76.989225",
                        "order_route": "1",
                        "address": "Avenida Boulevard de Surco, San Borja, Lima, Perú",
                        "description": "test",
                        "contact_name": "motor 1",
                        "contact_phone": "999",
                        "contact_cellphone": "324",
                        "contact_email": "asdas@asd.com",
                        "flagactive": "1"
                      },
                      {
                        "id": "33",
                        "x(coordenate)": "-12.111062",
                        "y(coordenate)": "-77.0315913",
                        "order_route": "2",
                        "address": "Miraflores, Peru",
                        "description": "miora",
                        "contact_name": "prueba",
                        "contact_phone": "45",
                        "contact_cellphone": "345",
                        "contact_email": "tes@a.com",
                        "flagactive": "1"
                      }
                    ]
                  },
                  "data_error": []
                }
/state-delivery:
  description: Actualizar state del delivery
  displayName: Actualizar Delivery
  post:
    description: |
        Actualizar state del delivery
    body:
        application/json:
          example: |
            {
              "event":2,
              "driver":2,
              "id":16  
              }
    responses:
      200:
        description: Cambio exitoso
        body:
          application/json:
            example: |
              {
                "status": 1,
                "msg": "ok",
                "data": {
                  "oldState": "1",
                  "currentState": 2
                },
                "data_error": []
              }
/state-driver:
  description: Actualizar state del conductor
  displayName: Actualizar conductor
  post:
    description: |
        Actualizar state del conductor
    body:
        application/json:
          example: |
            {
              "state":3,
              "id":2
              }
    responses:
      200:
        description: Cambio exitoso
        body:
          application/json:
            example: |
              {
                "status": 1,
                "msg": "ok",
                "data": {
                  "oldState": "1",
                  "currentState": 3
                },
                "data_error": []
              }
  /{driver_id}: 
    description: Detalles de un conductor
    displayName: Detalles
    uriParameters:
      driver_id:
        description: id del conductor
        type: integer
        example: 2
    get:
      description: Lista en formato JSon
      responses:
        200:
          description: Lista
          body:
            application/json:
              example: |
                {
                  "status": 1,
                  "msg": "ok",
                  "data": {
                    "id": "2",
                    "vehicletype_id": "0",
                    "driver_state_id": "1",
                    "dni": null,
                    "uuid": "APA91bEp4BbVcB_xJRkercxzFoiC0WmWLtteTYPdYvtWrYUMePtsfhiEUFUfTIi0YLZ_O5ZEcxyZuBbt_IxqM4rV1_tRHDIhrxZPJ1zAwcN0RCXr3VFMpAih7VfniJ78b8jQE6tw0A1V",
                    "namedriver": "Alfred",
                    "lastname": "B",
                    "phone": "123456",
                    "email": "a@b.com",
                    "flagbussy": null,
                    "picture": null,
                    "flagactive": "1",
                    "datecreate": null,
                    "datedelete": null,
                    "lastupdate": "2015-09-30 20:23:12"
                  },
                  "data_error": []
                }