- var page = {}
- page.charset         = "utf-8"
- page.lang            = "es"

- page.static          = "{{ URL::asset('/') }}"
- page.url             = "{{ URL::asset('/') }}"
- page.app 			   = "{{ asset('client/') }}"
- page.title           = "Cligo"
- page.description     = "Cligo"
- page.keywords        = "Keywords"
- page.author          = "@paulrrdiaz, @jeanpaul1304, @jonico22"
- page.name            = "empty"
- page.viewport        = "width=device-width, initial-scale=1.0"
- page.robots          = "index, follow"
- page.favicon         = page.app + "/img/favicon.ico"

- page.og              = {}
- page.og.type         = "website"
- page.og.image        = page.url + "/img/logo.png"