@extends('admin._layouts.layout')

@section('content')

#wrapper.container-page
    @if(isset($data->id))
    h2 Edit of Message
    @else
    h2 Register of Message
    @endif

    | {!! Form::model($data, ['files'=>'true','method'=>'post', 'data-parsley-validate'=>'data-parsley-validate', 'url'=>'/admpanel/greeting']) !!}
    .form-upload
        | {!! Form::hidden('id',  $data->id ) !!}
        .form-group
            | {!! Form::text('ES_message', null , ['placeholder'=>'Spanish Message', 'name'=>'ES_message', 'class' => 'form-control floating-label'])!!}
        .form-group
            | {!! Form::text('EN_message', null , ['placeholder'=>'English Message', 'name'=>'EN_message', 'class' => 'form-control floating-label'])!!}
        .form-group
            button.btn.btn-primary(type="submit") Enviar
        | {!! Form::close() !!}
script(type="template/text" id="terms")
    p Lorem ipsum dolorem mortem
@stop


