@extends('admin._layouts.layout')
@section('content')
#wrapper.container-page
    h2 Exercises
    //a(href="/admpanel/exercise", class="btn btn-success") Nuevo
    section
        table(id="categoryTable", class="tables table-striped", data-url="/admpanel/greeting-data",data-nofilter="1" ,data-col="ES_message,EN_message,action")
            thead
                tr(class="info")
                    td Message Spanish
                    td Message English
                    td(class="action")
    //- form(action="#")
    //- 	paper-input(label="Some label" pattern="[0-9]*" error="Input required")
    //- 	paper-input-container(pattern="[0-9]*" error="Input required" auto-validate)
    //- 		label Some label
    //- 		input(is="iron-input")
    //- 	paper-button(type="submit") Enviar
    //- a(href="javascript:;" class="btn btn-sup btn-material-pink btn-raised") Buton
script(type="text/template", id="tplEdit", data-initial='/dummies/edituser.json')
    .modal-ctn
        form(action="#", data-parsley-validate, data-url='/dummies/edit.json', data-method="POST")#editForm
            input(type="hidden" value!="<%= id %>" name="id")
            header
                h1 Editar Registro
            .modal-ctn--form
                .form-group
                    //- label(for="name") Nombre
                    input(placeholder="Nombre", name="name", value!="<%= name %>", data-parsley-required="true").form-control.floating-label
                .modal-ctn--actions
                    button.btn.btn-primary(type="submit") Enviar
script(type="text/template", id="tplDelete")
    .modal-ctn
        form(action="#", data-parsley-validate, data-url='/dummies/delete.json', data-method="GET")#deleteForm
            input(type="hidden" value!="<%= id %>" name="id")
            header
                h1 Confirmación
            .modal-ctn--form
                .form-group
                    h4 ¿Desea eliminar este registro?
                .modal-ctn--actions
                    button.btn.btn-primary(type="submit") Eliminar
                    a(href="javascript:;").btn.btn-danger.btn-danger--modal Cancelar
@stop


