extends ../../layout/layout.jade
//- index
block css
    //-link(href='#{page.app}css/modules/index/index.css', media='all', rel='stylesheet', type='text/css')
    link(href='#{page.app}css/all.css', media='all', rel='stylesheet', type='text/css')
block content
    #wrapper.container-page
        h2 Registro de Cliente
        form(data-parsley-validate, method="POST", action="#")
            .form-upload
                .form-group
                    input(placeholder="Nombre completo", data-parsley-required).form-control.floating-label
                .form-group
                    input(placeholder="Fecha de Nacimiento",data-dateformat="dd/mm/yy", data-parsley-required data-parsley-type="digits", data-parsley-range="[17,51]").form-control.floating-label.js-datepicker
                .form-group
                    input(placeholder="RUC", data-hint="Puedes ingresar el DNI u otro identificador", data-parsley-required, data-parsley-maxlength="11", data-parsley-minlength="8").form-control.floating-label
                .form-group
                    input(placeholder="Email", data-parsley-required, data-parsley-type="email").form-control.floating-label#mail
                .form-group
                    input(placeholder="Confirmar email", data-parsley-required, data-parsley-type="email", data-parsley-equalto="#mail").form-control.floating-label
                .form-group
                    select(placeholder="Seleccione categoria", data-parsley-required).form-control
                        option Lector
                        option Redactor
                        option Creativo
                        option Diseñador
                        option Programador
                .form-group
                    .radio.radio-primary
                        label
                            input(type="radio" name="optRad" value=1 checked)
                            | Masculino
                    .radio.radio-primary
                        label
                            input(type="radio" name="optRad" value=2)
                            | Femenino
                .form-group
                    input(type="file" name="textInput" data-parsley-required data-url="/dummies/upload.json").js-uploadInput
                a(href="javascript:;" data-template="#terms").js-modal.btn.btn-info Terminos y condicione
                button.btn.btn-primary(type="submit") Enviar
    script(type="template/text" id="terms")
        p Lorem ipsum dolorem mortem
