.pasos
	border-bottom 1px solid #e8e8e8
	padding-top 49px
	box-shadow 0px 5px 13px -8px rgba(0,0,0,0.3)
	ul
		position relative
		padding-top 34px
		padding-bottom 24px
		max-width 890px
		margin 0 auto
		text-align center	
		li
			position relative
			display block
			vertical-align top
			width 178px
			float left
			a
				color #999999
				span
					font-family $RoundedMedium
				.btn_num
					padding 10px 13px
					background #48c0f7
					border-radius 50% 50%
					font-family $RoundedBook
					margin-right 10px
					em(14px)
					color white
				.num1
						padding 10px 15px !important
#paso1
	.container
		max-width 760px
		margin 0 auto
		position relative
		padding-top 35px
		.opcion1,.opcion2
			visibility hidden
			height 1px
			display inline-block
			vertical-align top
			width 49%
			border-right 1px solid #48c0f7
			font-size 20px
			color #999999
			label
				margin-left 10px
				cursor pointer
			input
				vertical-align top
				position relative
				top 4px
				margin-left 60px
			.txt_servicio				
				color #808080
				font-family $RoundedLightItalic
				max-width 291px
				margin-top 14px
				img
					float left
					margin-right 16px
					margin-bottom 7px
				p
					font-size 13px
			.servicio1
				margin-bottom 45px			
		.opcion2
			width 50%
			border none
			.txt_servicio
				margin-left 80px
		.new_design
			.opcion_columna1,.opcion_columna2
				display inline-block
				vertical-align top
				width 49%
				border-right 1px solid #48c0f7
				font-size 20px
				color #999999
				padding-top 25px
				padding-bottom 20px
				.txt_servicio
					color #808080
					font-family $RoundedLightItalic
					max-width 340px
					margin-top 14px
					min-height 70px
					img
						float left
						margin-right 16px
						margin-bottom 7px
					p
						font-size 13px
				label
					margin-left 10px
					cursor pointer
				input
					vertical-align top
					position relative
					top 4px
				.cat_input
					margin-left 60px
					margin-top 20px
				.txt_servicio_new
					max-width 290px
			.opcion_columna2
				border-right none
#reserva
	.container
		max-width 760px
		margin 0 auto
		position relative
		padding-top 35px
		form
			position relative
			width 100%
			legend
				em(13px)
				color #48c0f7
			label,span
				color #999999
				padding-left 5px			
	.content_date
		margin-top 10px
		label
			position relative
			display inline-block
			vertical-align top
		span
			display block
		i
			position absolute
			left 16px
			top 23px
	.programa
		position relative
		.form-check
			display inline-block
			vertical-align top
			text-align center
			margin 0 10px 0 10px
			label
				display block
				padding-bottom 10px
		.content_day
			padding-top 25px
			text-align center
			border 1px solid #ccc
			padding-bottom 25px	
		input
			padding 5px 0px
			text-align left
			margin-left 5px
			padding-left 22px
			color #999999														
#paso2,#paso3
	.container
		max-width 820px
		margin 0 auto
		position relative
		padding-top 35px
		form
			position relative
			width 49%
			margin-right 20px
			display inline-block
			vertical-align top
			legend ,p
				em(13px)
				color #48c0f7
			label
				color #999999
				display block
			input,textarea,select
				padding 7px 10px
				width 100%
				color black
				background #f2f2f2
				border none
				margin-top 5px
				outline 0
			select
				height 30px
				outline 0
			.form-input
				display inline-block
				vertical-align top
				width 31%
				position relative
			.form-email
				width 68%
				position relative
			.form-control
				position relative
		.map
			display inline-block
			vertical-align top
			height 340px
			width 48%
		#map,#map2
			height 100%
			width 100%
.form-control
	position relative			
#paso4
	.container
		max-width 760px
		margin 0 auto
		position relative
		padding-top 25px
		em(12px)
		form
			position relative
			width 100%
			legend
				em(13px)
				color #48c0f7
			label,span
				color #999999
				padding-left 5px
		.columna1,.columna2
			display inline-block
			vertical-align top
			width 49%
			position relative
		.form-control
			padding 10px 35px 0px 35px
			label
				padding-right 10px
				input
					margin-bottom 10px
			textarea
				background-color #f2f2f2
				border none
				width 100%
				padding 10px 10px
				outline 0			
		.form-radio
			min-height 99px
			label
				display inline-block
				vertical-align top
				width 48%
		.contenedor_tarifa
			font-size 38px
			margin-left 54px	

#paso5
	.container
		max-width 760px
		margin 0 auto
		position relative
		padding-top 25px
		.columna1,.columna2
			display inline-block
			vertical-align top
			width 49%
			position relative
		.columna2
			padding-left 20px
		.google-map
			width 100%
			height 300px		
		ul
			position relative
			margin-bottom 50px
			li
				margin-bottom 27px
				label
					color #48c0f7
					em(14px)
					width 200px
					display inline-block
					vertical-align top
				span 
					color #999999
					em(12px)
#paso6
	.container
		max-width 760px
		margin 0 auto
		position relative
		padding-top 125px
		text-align center	
		p
			em(18px)
			font-family $RoundedLightItalic
			color #808080
			margin-bottom 98px
	.operacion_pasos
		max-width 270px
		margin 0 auto
		.btn
			display block
			margin-bottom 10px						
								
.nombre_paso
	display none
	padding 10px 10px
	position relative
	top 20px
	em(20px)
	color #999999
	left -15px		
	













