include ../config/page.jade
include ../mixins/mixins.jade
header
	.container-header.row
		.container-header__title
			h1 
				a(href="javascript:;") App Admin - Cligo
		|@if(!Auth::admin()->guest())
		//- .container-header__nav
		//- 	.container-header__nav-name
		//- 		p {{ Auth::admin()->user()->name }}
		//- 	.container-header__nav-btn
		//- 		a(href="{{ action('Admin\\ProfileController@getIndex') }}")
		//- 			i.icon.icon-admin
		|@endif