.filtros
	border-bottom 1px solid #e8e8e8
	padding-top 49px
	box-shadow 0px 5px 13px -8px rgba(0,0,0,0.3)
	ul
		position relative
		padding-top 20px
		padding-bottom 24px
		padding-left 34px
		color #999999
		em(13px)
		li:last-child
			float right		
		li
			position relative
			display inline-block
			vertical-align top
			margin-right 24px
			label
				position relative
				top 9px
			select
				background #f2f2f2
				color #999999
				padding 5px 5px
				border none
				width 127px
				height 30px
			button
				background #f2f2f2
				color #999999
				border none
				cursor pointer
				padding 9px 28px
.tablas
	position relative
	margin-top 5px
	em(13px)
	table
		thead
			tr
				th
					height 70px
					text-align center
					border-bottom 1px solid #e8e8e8
					box-shadow 0 5px 13px -8px rgba(0,0,0,0.3)
		tbody
			tr
				border-bottom 10px solid white
				border-left 5px solid white
				td
					padding 15px 12px 10px 17px
					text-align center
					position relative
					top 10px
					a
						color #000
.detalle_wrapper
	position relative
	padding-left 48px
	padding-top 78px
	.detalle_texto
		position relative
		width 39%
		margin-right 1%
		display inline-block
		vertical-align top
		ul
			position relative
			li
				position relative
				margin-bottom 19px
				label
					color #48c0f7
					em(14px)
					display inline-block
					width 200px
				img
					border-radius 50% 50%
					position relative
					top 10px
				span 
					color #999999
			.line
				label
					width 120px
					text-align center
					position relative
					top -5px
	.detalle_mapa
		position relative
		width 59%
		display inline-block
		height 500px
		#map_activo
			height 100%
			width 100%

				