header.row
	.menu
		.menu-hamburger
	h1
		a(href!="{{ URL::asset('admclient') }}")
			img(src!="{{ asset('client/img/cligo.png') }}", alt="")
	.credito
		a(href="#")
			i.icon.icon-dolar
		p
			span CRÉDITO DISPONIBLE
			br
			strong S./ {{Auth::customer()->user()->credit}}
	.logout
		a(href!="{{url('logout')}}")
			span.user {{Auth::customer()->user()->name_customer}} -  &nbsp;&nbsp;
			span.off DESLOGUEARSE
			img(src!="{{ asset('client/img/salir.png') }}", alt="")
	//- include nav.jade