footer
	position relative
	padding 30px 0 15px 0
	background $gray-66
	width 100%
	section
		> a
			left 4%
			position absolute
			top -8px
		nav
			text-align right
			font-family $dinBold
			text-transform uppercase
			> ul
				text-align center
				margin-top 10px
				> li
					display inline-block
					vertical-align top
					text-align center
					margin-bottom 10px
					max-width 175px
					// &:last-child
					// 	> a
					// 		padding 0 0 0 35px
					> a
						color #dddddd
						display block
						em(12px)
						padding 0 35px
						min-height 28px
						transition(all .3s linear 0s)
						&:hover
							color $skyblue