#section-1__us
	position relative
	height 500px
	padding 160px 0 100px
	color white
	overflow hidden
	.parallax-image
		background-image url('../img/nosotros-section-1.jpg')
		background-repeat no-repeat
		background-position center center
		position absolute
		width 100%
		height 100%
		top 0
		left 0
	h2
		font-family $linoMedium
		em(40px)
		margin-bottom 20px
	h3
		em(30px)
		font-family $linoThin
		letter-spacing 0px
		line-height 38px
		text-align center
		padding 30px 0 0 0px
#section-2__us
	overflow hidden
	padding 55px 0 120px 0
	h2
		color $skyblue
		em(34px)
		font-family $dinBold
		margin-bottom 70px
	.mision
		> ul
			> li
				position relative
				display inline-block
				width 280px
				padding 0 20px
				border-right dashed $gray-f2 2px
				&:last-child
					border-right none
				figure
						min-height 95px
						margin-bottom 10px
				h3
					em(16px)
					font-family $dinBold
					color $skyblue
					margin-bottom 15px
				p
					font-family $linoThin
					em(16px)
					color #b3b3b3
					line-height 1.27em
#section-3__us
	overflow hidden
	padding 25px 0
	position relative
	min-height 500px
	background-image url('../img/nosotros-section-3.jpg')
	background-size cover
	background-repeat no-repeat
	background-position center center
	height auto !important
	.parallax-image
		background-image url('../img/nosotros-section-3.jpg')
		background-repeat no-repeat
		background-position center center
		position absolute
		width 100%
		height 100%
		top 0
		left 0
	h2
		color white
		em(34px)
		font-family $dinBold
		margin-bottom 25px
	form
		margin-bottom 60px
		text-align center
		.form-control
			.form-input
				width 365px
				margin 0px auto
				textarea
				input
					width 365px
					color white
					background-color transparent
				&.form-input--group
					display inline-block
					width 365px
			::-webkit-input-placeholder
				color #fff
			:-moz-placeholder /* Firefox 18- */
				color #fff  
			::-moz-placeholder  /* Firefox 19+ */
				color #fff  
			:-ms-input-placeholder  
				color #fff  
	.contact-details
		max-width 960px
		margin 0 auto
		.doble-line
			top 16px
		> ul
			display inline-block
			width 100%
			text-align center
			> li
				display inline-block
				width 30%
				margin-bottom 15px
				color white
				em(14px)
				text-align left
				padding-left 50px
				position relative
				padding-top 11px
				&:first-child
					margin-left 0
				p
					height 50px
				> span
					display block
					position absolute
					top 0
					left 0
					background-color $skyblue
					width 40px
					height 40px
					padding-top 6px
					border-radius 50%
					vertical-align middle
					margin 0 10px 0 0
					text-align center
					> i
						em(19px)
						color white
.skrollr footer
	margin-top 0