#wrapper
	margin-top 84px
.section
	background #fff
	position relative
.menu-responsive
	display none
#section0
	position relative
	padding 120px 0 100px
	background-repeat no-repeat
	background-size cover
	background-position center center
	color white
	//border-bottom 3px solid $gray-99
	overflow hidden
	.parallax-image
		position absolute
		width 100%
		height 100%
		top 0
		left 0
		background-image url('../img/section-1.jpg')
	a
		color white
		display inline-block
		padding 12px 40px
		em(24px)
		background-color $skyblue
		border-radius 5px
	h2
		em(40px)
		margin-top 48px
		font-family $linoMedium
		padding 0 30px
	h3
		em(30px)
		font-family $linoThin
		margin-bottom 30px
		letter-spacing 0px
		padding 0 30px
	section
		top 25%
	.scroll_section1
		background: none;
		border: none;
		font-size: 50px;
		position: absolute;
		bottom: 25px;
		left: 0;
		right: 0;
		width : 10px;
		margin-left: auto;
		margin-right: auto;
		outline : none;
#section1
	/*height 590px*/
	overflow hidden
	section
		top 2%
		background #fff
		width 100%
		max-width none
		padding 40px 0
		.wrapper-sec
			margin 0 auto
			width 100%
			max-width 970px
	h2
		color $skyblue
		em(45px)
		font-family $dinBold
		margin-bottom 40px
	.como-funciona
		margin-top 3%
		> ul
			display inline-block
			> li
				position relative
				display block
				width 254px
				margin 0 50px
				float left
				.ctn-text
					padding-top 7px
				img
					width 100%
				> figure
					position relative
					width 200px
					margin-bottom 35px
					padding-top 30px
					margin-left 30px
				p
					em(16px)
					line-height 1.27em
					color #999999
					font-family $linoThin
					text-align center
					margin-top 10px
					strong
						font-size 16px
				strong
					color #23cefd
					font-family: 'DINPRO-BOLD','Arial';
					font-size 20px	
.parallax-image
	background-size cover !important
#section2
	overflow hidden
	position relative
	max-height 400px
	padding 190px 0
	background-repeat no-repeat
	background-size cover
	background-position center center
	color white
	.first-parallax
		position absolute
		height 100px
		top 0
		left 0
		width 100%
		height 100%
		background url("../img/section-3.jpg")
	section
		top 40%
		height 40%
		width 70%
		margin 0 auto
	h2
		position relative
		em(45px)
		font-family $futuraBook
		
#section3
	overflow hidden
	padding 25px 0 120px 0
	section
		top 10%
	h2
		position relative
		color $skyblue
		em(45px)
		font-family $dinBold
		margin-bottom 40px
	.como-funciona
		margin-top 3%
		> ul
			display inline-block
			strong
				font-family 'DINPRO-BOLD','Arial'
			> li
				position relative
				display block
				width 300px
				margin 0 50px
				float left
				img
					width 100%
				> figure
					position relative
					width 200px
					border-radius 50%
					margin 0 auto
					padding-bottom 20px
					> figcaption
						position relative
						bottom 0
						left 0
						top 10px
						background-color $skyblue
						height 40px
						width 40px
						border-radius 50%
						color white
						padding-top 4px
						margin 0 auto
						em(28px)
				p
					em(16px)
					line-height 1.27em
					color #999999
					font-family $linoThin
					text-align center
					margin-bottom 15px
					strong
						color #23cefd
						font-size 20px
#section4
	position relative
	height 600px
	background-repeat no-repeat
	background-size cover
	background-position top center
	color white
	box-sizing border-box
	overflow hidden
	.first-parallax
		position absolute
		height 100px
		top 0
		left 0
		width 100%
		height 100%
		&:nth-child(1)
			background-image url('../img/testi4.jpg') !important			
		&:nth-child(2)
			background-image url('../img/testi1.jpg') !important
		&:nth-child(3)
			background-image url('../img/testi2.jpg') !important
		&:nth-child(4)
			background-image url('../img/testi3.jpg') !important
	section
		top 30%
	.slider
		text-align center
		padding 0 50px
		.bx-wrapper
			padding 10px 0
			.bx-controls-direction a
				border-radius 50%
				width 40px
				height 40px
		h3
			display inline-block
			width 80%
			font-family $opensans
			em(40px)
			line-height 1.45em
			text-shadow 1px 1px 3px black
			font-weight 200
			opacity 0.8
			letter-spacing 2px
		i
			em(40px)
			display block
			margin-bottom -10px
		#pager
			margin-top 3%
			a
				position relative
				display inline-block
				color white
				border-radius 50%
				border 1px solid white
				width 15px
				height 15px
				margin 0 15px
				opacity(.5)
				transition(all .3s linear 0s)
				&:hover
				&.active
					opacity(1)
					background #fff
		ul
			li
				img
					display block
					margin 0 auto
					padding-bottom: 10px
					width 45px
					opacity 0.8		
#section5
	text-align center
	min-height 665px
	section
		padding 0 0 47px 0
		top 5%
		height 90%
		blockquote
			width 100%
			display inline-block
			vertical-align middle
			h2
				position relative
				color $skyblue
				font-family $dinBold
				em(40px)
				width 60%
				margin 0 auto
				margin-bottom 30px
			a
				position relative
				border-radius 5px
				display inline-block
				padding 10px 25px
				background-color $skyblue
				color white
				em(24px)
		img
			position relative
			display inline-block
			vertical-align middle
			width 620px

.main_login,.main_recuperar
	h2
		em(25px)
		color white
		margin-bottom 20px

	form
		position relative
		background white
		padding 30px 30px
		border-radius 10px
		.form-control
			margin-bottom 13px
			.form-radio
			.form-checkbox
				display inline-block
				width 365px
				text-align left
			.form-select
				display inline-block
				width 365px
				text-align left
				select
					em(14px)
					width 365px
					height 50px
				& + .form-input
					margin-top 8px
			.form-input
				textarea
				input
					padding 16px 10px
					em(14px)
					width 100%
					border 2px solid $gray-99
				&.form-input--group
					display inline-block
					.border-top
						input
							border-radius 5px 5px 0 0 !important
							border-top 2px solid $gray-99 !important								
					div
						input
							display block
							border-radius 0
							border-top 0
					.border-bottom
						input
							border-radius 0 0 5px 5px
							
.block_required
	position absolute
	left -18px
	top 18px
.block-white
	color #fff
.close_form
	position absolute
	right 10px
	top 14px
	padding 8px
	font-size 14px
	color #999					
.main_login,.main_recuperar	
	position relative
	div
		position relative	
.main_login,.main_recuperar
	position relative
	form
		background white
		height 40%
	p
		font-size 16px
		color #b3b3b3
		text-align center
	.form-control
		p
			font-size 14px
			text-align left	
	a
		color #23cefd								
.main_recuperar form
	height 30%
	margin-top 10px
	padding-bottom 0	
	a
		font-size 16px
.main_unete
	a
		color #23cefd
.main_registrate
	a
		color #23cefd
	h3
		color #23cefd
		font-size 16px
		text-align left
		margin-bottom 10px
		margin-left 56px
		font-family $dinMedium
	h4
		color $skyblue
		margin-bottom 8px
		em(14px)
		width 365px
		text-align left
		display inline-block
	form
		height 85%			
	.cancel-login
		display inline-block
		vertical-align top
		font-size 16px
		margin-left 10px
		a
			color #23cefd	
	.check
		position relative
		margin-bottom 20px !important
		em(14px)
.first-parallax
	height 100%
.skrollr
	footer
		margin-top 64px
.fancybox-overlay-fixed
	z-index 101 !important
.cancel-login
	margin-top 6px
.arrow_top
	position relative
	bottom -30px
	img
		padding 0 5px
		width 45px !important
/*.arrow_top
	position relative
	bottom -53px
	background-color white
	z-index 9
	padding 20px 10px
	border-radius 50% 50%
	img
		padding 0 5px
		width 33px !important
		position relative
		top 10px*/	
.footer_unete
	padding 0 15px		
#content_form_login,#content_form_recuperar
	display none
	overflow hidden
	max-width 360px

