@extends('admin._layouts.layout')

@section('content')

#wrapper.container-page
    @if(isset($data->id))
    h2 Edit of Exercise
    @else
    h2 Register of Exercise
    @endif

    | {!! Form::model($data, ['files'=>'true','method'=>'post', 'data-parsley-validate'=>'data-parsley-validate', 'url'=>'/admpanel/routine']) !!}
    .form-upload
        | {!! Form::hidden('id',  $data->id ) !!}
        | {!! Form::hidden('image',  $data->image, ['id'=>'image-rountine'] ) !!}
        .form-group
            | {!! Form::text('name', null , ['placeholder'=>'Name', 'name'=>'name', 'class' => 'form-control floating-label'])!!}
        .form-group
            | {!! Form::select('type_runtime_id', $typeroutine, $data->type_runtime_id, ['class'=>'form-control', 'data-parsley-required'=>'data-parsley-required', 'name' =>'type_runtime_id']) !!}
        .form-group
            input(type="file" requiredfile data-show-upload="false" name="image").js-uploadInput
            button.btn.btn-primary(type="submit") Enviar
        | {!! Form::close() !!}
script(type="template/text" id="terms")
    p Lorem ipsum dolorem mortem
@stop


