@extends('admin._layouts.layout')
@section('content')
#wrapper.container-page
    h2 Routines
    a(href="/admpanel/routine", class="btn btn-success") Nuevo
    section
        table(id="categoryTable", class="tables table-striped", data-url="/admpanel/routine-data",data-nofilter="1" ,data-col="name,exercise,image,action")
            thead
                tr(class="info")
                    td Name
                    td Exercise
                    td Image
                    td(class="action")
    //- form(action="#")
    //- 	paper-input(label="Some label" pattern="[0-9]*" error="Input required")
    //- 	paper-input-container(pattern="[0-9]*" error="Input required" auto-validate)
    //- 		label Some label
    //- 		input(is="iron-input")
    //- 	paper-button(type="submit") Enviar
    //- a(href="javascript:;" class="btn btn-sup btn-material-pink btn-raised") Buton
script(type="text/template", id="tplEdit", data-initial='/dummies/edituser.json')
    .modal-ctn
        form(action="#", data-parsley-validate, data-url='/dummies/edit.json', data-method="POST")#editForm
            input(type="hidden" value!="<%= id %>" name="id")
            header
                h1 Editar Registro
            .modal-ctn--form
                .form-group
                    //- label(for="name") Nombre
                    input(placeholder="Nombre", name="name", value!="<%= name %>", data-parsley-required="true").form-control.floating-label
                .modal-ctn--actions
                    button.btn.btn-primary(type="submit") Enviar
script(type="text/template", id="tplDelete")
    .modal-ctn
        form(action="#", data-parsley-validate, data-url='delete-routine', data-method="POST")#deleteForm
            input(type="hidden" value!="<%= id %>" name="id")
            header
                h1 Confirmación
            .modal-ctn--form
                .form-group
                    h4 ¿Desea eliminar este registro?
                .modal-ctn--actions
                    button.btn.btn-primary(type="submit") Eliminar
                    a(href="javascript:;").btn.btn-danger.btn-danger--modal Cancelar
script(type="text/template", id="addTagsExercise")
    .ctn-addTags(style="width:600px;")
        h2 Add Exercises
        form
            .form-ctn
                .input-ctn
                    input(type="hidden" value!="<%= idroutine %>").idrout
                    select(name="tags" multiple style="width:250px").multiselect-custom
                        <%= options %>
                a(href="javascript:;").btn.btn-raised.btn-info.btn-.btn-save Add
                a(href="javascript:;").btn.btn-raised.btn-danger.btn-cancel Cancel
@stop
