extends ../../layout/layout.jade
//- index
block css
	link(href='#{page.app}/css/all.css', media='all', rel='stylesheet', type='text/css')
block content
	#wrapper
		.detalle_wrapper
			.detalle_texto
				ul
					li
						label Foto Conductor
						img(src="http://loremflickr.com/60/60", alt="")
					li
						label Conductor
						span Carlos Vezquez Elespuru
					li
						label DNI
						span 67785432
					li
						label Celular
						span 887967675
					li
						label Placa del Vehiculo
						span CIZ748
					li
						label Tipo de vehiculo
						span Moto
					li.line
						label ____
					li
						label En camino a origen
						span 12:00pm
					li
						label Llegue a origen
						span 12:10pm
					li
						label Pedido en transito
						span 12:20pm
					li
						label Llegue a destino
						span 12:30pm
					li
						label Pedido terminado
						span 12:50pm		
			.detalle_mapa
				#map_activo.google-map(data-lat="" data-lng="")
block javascript
	script.
		window.alpha = {
			module : 'index',
			controller : 'completados',
			action: 'detalle'
		};
	script(src="#{page.app}/js/libs/jquery/dist/jquery.min.js", type="text/javascript")
	script(data-main="#{page.app}/js/main" src="#{page.app}//js/libs/requirejs/require.js")