header.row
	width 100%
	position absolute
	left 0px
	top 0px
	background white
	z-index 4
	border-bottom 1px solid #e6e6e6
	a
		display inline
	h1
		float left
		width 220px
	.credito
		font-family $RoundedMedium
		color #22b573
		text-align center
		padding-top 15px
		a
			background-color #22b573
			padding 10px 7px
			display inline-block
			vertical-align top
			border-radius 50% 50%
			position relative
			top -5px
			left -5px
			i
				em(15px)
		p
			display inline-block
			vertical-align top
			position relative
			top -3px
			span
				em(9px)
			strong
				em(20px)
				text-align center
	.logout		
		margin-top 15px
		margin-right 18px
		position absolute
		top 1px
		right 0px
		a
			color #999999
			font-family $RoundedMedium
			span
				position relative
				top -3px
				left -10px