.content_soporte
	max-width 634px
	margin 0 auto
	ul
		position relative
		li
			margin-bottom 20px
			color #999999
			a
				background #48c0f7
				border-radius 50% 50%
				em(15px)
				padding 5px 5px
				margin-right 10px
.formSoporte 
	padding-top 70px
	color #999999
	em(12px)
	.columna1,.columna2
		display inline-block
		vertical-align top
		width 46%
		margin-right 20px
	.form_control
		margin-bottom 15px	
		position relative
	label
		display block
		margin-bottom 5px
	input,textarea
		background #f2f2f2
		width 100%
		border none
		padding 8px 10px
		outline 0
	button
		background #48c0f7
		border none
		padding 10px 35px
		border-radius 3px 3px
		color white
		float right
		em(15px)
		margin-right 26px
