/**
* Config
* @class Config 
*/

/* Paths */
$img = '../../../img/'
$imgPath       = '../img/'
$pluginsPath = '../' + $imgPath + 'plugins/'
$fontsPath      	= '../../client/css/fonts/'

/* font family variables */
$helveticaNeue = 'helveticaNeue', 'arial', 'sans-serif'
$dinPro = 'DINPro-Bold', 'arial'
$RoundedBook = 'GothamRounded-Book', 'arial'
$RoundedBookItalic = 'GothamRounded-BookItalic', 'arial'
$RoundedLight = 'GothamRounded-Light', 'arial'
$RoundedLightItalic = 'GothamRounded-LightItalic', 'arial'
$RoundedMedium = 'GothamRounded-Medium', 'arial'
$RoundedMediumItalic = 'GothamRounded-MediumItalic', 'arial'

$baseFont = 11px

/* Color variables */
$celeste = #c9e9f4
$azul = #80c1d1
$verde1 = #9ee5c1
$verde2 = #63d39d
$gris = #f2f2f2
/* Layout variables */
$windowMinWidth = 1200px
$wrapperMaxWidth = 1100px
$wrapperWidth = 1024px
$iPad = 800px
$iPhone = 480px
