header
	background #2C2D30
	color #fff
	width 100%
	padding 10px 25px
	.container-header
		.container-header__title
			width 70%
			float left
		.container-header__nav
			width 30%
			float right
			.container-header__nav-name
				float left
				width 80%
				padding-right 10px
				p
					text-align right
					width 100%
					height 100%
					display block
			.container-header__nav-btn
				width 20%
				float right
				text-align center
				i
					width 25px
					height 25px