$aLotAudios_x = 0px;
$aLotAudios_y = 168px;
$aLotAudios_offset_x = 0px;
$aLotAudios_offset_y = -168px;
$aLotAudios_width = 76px;
$aLotAudios_height = 76px;
$aLotAudios_total_width = 1016px;
$aLotAudios_total_height = 624px;
$aLotAudios_image = '../../../../public/img/icon-set.png';
$aLotAudios = 0px 168px 0px -168px 76px 76px 1016px 624px '../../../../public/img/icon-set.png';
$brain_x = 0px;
$brain_y = 244px;
$brain_offset_x = 0px;
$brain_offset_y = -244px;
$brain_width = 76px;
$brain_height = 76px;
$brain_total_width = 1016px;
$brain_total_height = 624px;
$brain_image = '../../../../public/img/icon-set.png';
$brain = 0px 244px 0px -244px 76px 76px 1016px 624px '../../../../public/img/icon-set.png';
$coin_x = 0px;
$coin_y = 320px;
$coin_offset_x = 0px;
$coin_offset_y = -320px;
$coin_width = 76px;
$coin_height = 76px;
$coin_total_width = 1016px;
$coin_total_height = 624px;
$coin_image = '../../../../public/img/icon-set.png';
$coin = 0px 320px 0px -320px 76px 76px 1016px 624px '../../../../public/img/icon-set.png';
$graduateHat_x = 0px;
$graduateHat_y = 396px;
$graduateHat_offset_x = 0px;
$graduateHat_offset_y = -396px;
$graduateHat_width = 76px;
$graduateHat_height = 76px;
$graduateHat_total_width = 1016px;
$graduateHat_total_height = 624px;
$graduateHat_image = '../../../../public/img/icon-set.png';
$graduateHat = 0px 396px 0px -396px 76px 76px 1016px 624px '../../../../public/img/icon-set.png';
$musicalNote_x = 0px;
$musicalNote_y = 472px;
$musicalNote_offset_x = 0px;
$musicalNote_offset_y = -472px;
$musicalNote_width = 76px;
$musicalNote_height = 76px;
$musicalNote_total_width = 1016px;
$musicalNote_total_height = 624px;
$musicalNote_image = '../../../../public/img/icon-set.png';
$musicalNote = 0px 472px 0px -472px 76px 76px 1016px 624px '../../../../public/img/icon-set.png';
$newTap_x = 0px;
$newTap_y = 548px;
$newTap_offset_x = 0px;
$newTap_offset_y = -548px;
$newTap_width = 76px;
$newTap_height = 76px;
$newTap_total_width = 1016px;
$newTap_total_height = 624px;
$newTap_image = '../../../../public/img/icon-set.png';
$newTap = 0px 548px 0px -548px 76px 76px 1016px 624px '../../../../public/img/icon-set.png';
$new_small_x = 0px;
$new_small_y = 0px;
$new_small_offset_x = 0px;
$new_small_offset_y = 0px;
$new_small_width = 51px;
$new_small_height = 55px;
$new_small_total_width = 1016px;
$new_small_total_height = 624px;
$new_small_image = '../../../../public/img/icon-set.png';
$new_small = 0px 0px 0px 0px 51px 55px 1016px 624px '../../../../public/img/icon-set.png';
$products_shadow_x = 0px;
$products_shadow_y = 55px;
$products_shadow_offset_x = 0px;
$products_shadow_offset_y = -55px;
$products_shadow_width = 117px;
$products_shadow_height = 55px;
$products_shadow_total_width = 1016px;
$products_shadow_total_height = 624px;
$products_shadow_image = '../../../../public/img/icon-set.png';
$products_shadow = 0px 55px 0px -55px 117px 55px 1016px 624px '../../../../public/img/icon-set.png';
$special_edition_x = 0px;
$special_edition_y = 110px;
$special_edition_offset_x = 0px;
$special_edition_offset_y = -110px;
$special_edition_width = 1016px;
$special_edition_height = 58px;
$special_edition_total_width = 1016px;
$special_edition_total_height = 624px;
$special_edition_image = '../../../../public/img/icon-set.png';
$special_edition = 0px 110px 0px -110px 1016px 58px 1016px 624px '../../../../public/img/icon-set.png';

spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
