.terms
	padding-top 50px
	> ul
		> li
			text-align left
			margin-bottom 50px
			h3
				color $skyblue
				margin-bottom 15px
				em(16px)
				font-family $dinBold
			p
				line-height 20px
				em(16px)
				text-align justify
				font-family $linoThin
				color #b3b3b3
				& + p
					margin-top 15px